.intro {
  font-size: 2.5rem;
  font-family: 'Acme', sans-serif;
}

.brif {
 font-size: 1rem;
}

p {
  margin: 0 auto;
}
a.icond {

  width: 10%;
}
img.groom {
  width: 100%;

}
/* hr */
.horizon {
  display: block;
  margin: 0 auto;
}

#title {
    background-color: #AEECE9;
    padding: 1% 7%;
    text-align: center;
}
.navbar-expand-md .navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
  color: #898A8A;
  font-size: 1.1rem;
  margin-left: 20px;
}

.showoff {
  margin-top: 30px;
}

@media (max-width: 767px){
  .collapse {
    text-align: left;
    padding-left: 0;
  }
  .navbar-nav .nav-link {
    margin-left: 0;
  }

img.code{
    width: 25%;

  }
  h3.cal-t {
    text-align: center;

  }
  p.cal-t {
    text-align: center;
    margin-top: 20px;
      padding-bottom: 4rem;
  }
}


/* skill */
#skills {
  text-align: center;
  background-color: #49C1C1;
  padding-bottom: 5%;
}

.profile {
  width: 15%;

}

.skill-h {
  padding: 40px 0;

}
.code{
  width: 100%;

}
.carousel-item {
  display: inline;
}

.cal-t {
  text-align: left;
  margin-top: 10px;
}
p.cal-t {
    margin-top: 20px;
    padding-bottom: 6rem;

}

/* contact */
.footer {
  background-color: black;
  padding: 30px 10% 30px;
}
.ab {
  padding: 20px 3%;
  color: white;
  font-size: 2rem;
}
.yt:hover {
  color: #FF0000;
}
.insta:hover {
  color: #E4405F;
}
.fb:hover {
  color: #4267B2;
}
#contact {
  text-align: center;
}

/* academic */

#academic {
  background-color: #AEECE9;
}

/* css button */

a.btn {
  background: #91d5ff;
  background-image: -webkit-linear-gradient(top, #91d5ff, #2d5f66);
  background-image: -moz-linear-gradient(top, #91d5ff, #2d5f66);
  background-image: -ms-linear-gradient(top, #91d5ff, #2d5f66);
  background-image: -o-linear-gradient(top, #91d5ff, #2d5f66);
  background-image: linear-gradient(to bottom, #91d5ff, #2d5f66);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Georgia;
  border: 0;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  margin-bottom: 20px;
  text-decoration: none;
}

a.btn:hover {
  background: #cfedff;
  background-image: -webkit-linear-gradient(top, #cfedff, #237cb8);
  background-image: -moz-linear-gradient(top, #cfedff, #237cb8);
  background-image: -ms-linear-gradient(top, #cfedff, #237cb8);
  background-image: -o-linear-gradient(top, #cfedff, #237cb8);
  background-image: linear-gradient(to bottom, #cfedff, #237cb8);
  text-decoration: none;
}



#academic {
  text-align: center;
}

.atable {
  padding: 0 10%;

}
.tsha {
  box-shadow: 5px 5px 5px 0 gray;
}

.getit {
  padding-top: 38px;
  padding-bottom: 20px;
}

.contact-div {
  padding: 0 15%;
  background-color: #49C1C1;
}

.resume {
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
}
